<h5>Ingresa tu comentario:</h5>

<%= form_with(model:[@post, @post.comments.build]) do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>
	<br>
	<%= f.label :body %><br>
	<%= f.text_area :body %><br>
	<br>
	<%= f.submit :Enviar, class:'btn btn-success'%>
<% end %>
