<div class="card" style="width: 18rem;">
	<h1 class="title"><%= @post.title %></h1>
	<p><strong>Usuario: <%= @post.user.name %></strong></p>
	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %>
				<% if can?(:destroy, Post) %>
					<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
		  		<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
				<% end %>
	</p>
	<div class="card-body"><%= @post.body %></div>


	<h2 class="card"><%= @post.comments.count %> Comentarios:</h2>

	<div class="card-body">
		<div id="comments">
			<%= render @post.comments %>

		<!-- <h3>Add a comment:</h3> -->
			<%= render "comments/form" %>
		</div>
	</div>
</div>
